<table>
  <tr class="que-option nested-fields form-inline">
    <td>
      <%= hidden_field_tag "question[options_attributes][#{f.index}][is_answer]", 'false' %>
      <%= check_box_tag "question[options_attributes][#{f.index}][is_answer]", value = "1",false, class: 'option-check' , checked: f.object.is_answer?%>
    </td>
    <td>
      <%= f.label :option, class: "mr-left mr-right" %>
      <%= f.text_field :option , class: "form-control mr-right", size:4, placeholder: 'A' %>
    </td>
    <td>
      <%= f.label :option_value, class: "mr-right" %>
      <%= f.text_field :option_value, class: "form-control mr-right", placeholder: 'Enter Option Value' %>
    </td>
    <td><%= link_to_remove_association "Remove", f%></td><br/>
  </tr>
</table>
<script>
  $( document ).ready(function() {
    $('button').attr('disabled', true);
    $('input.option-check').on('change', function() {
        $('input.option-check').not(this).prop('checked', false);
    });
    $("input:checkbox[class=option-check]").click(function(){
      debugger;
      if($("input:checkbox[class=option-check]:checked").length >=  1){
        $('button').attr('disabled', false);
      }
      else{
        $('button').attr('disabled', true);
      }
    });
  });
</script>
<style type="text/css">
  .mr-right{margin-right: 10px;}
  .mr-left{margin-left: 10px;}
</style>
