<tr class="que-option nested-fields">
  <td>
    <%= f.check_box :is_answer, {}, "true", "false"  %>
  </td>
  <td>
    <%= f.label :option %>
    <%= f.text_field :option , class: "form-control" %>
  </td>
  <td>
    <%= f.label :option_value %>
    <%= f.text_field :option_value , class: "form-control" %><br/>
  </td>
</tr>
