<tr class="que-option nested-fields">
  <td>
    <%= radio_button_tag "question[options_attributes][#{f.index}][is_answer]", true%>
  </td>
  <td>
    <%= f.label :option %>
    <%= f.text_field :option , class: "form-control", size:5 %>
  </td>
  <td>
    <%= f.label :option_value %>
    <%= f.text_field :option_value , class: "form-control" %>
  </td>
<td><%= link_to_remove_association "Remove", f%></td><br/>
</tr>
