<tr class="que-option nested-fields">
  <td>
    <%= check_box_tag "question[options_attributes][#{f.index}][is_answer]",value = "1",false, class: 'option-check'%>
    <%#= radio_button_tag "question[options_attributes][is_answer]", f.index, f.object.is_answer %>
    <%#= f.radio_button :is_answer, f.index %>
  </td>
  <td>
    <%= f.label :option %>
    <%= f.text_field :option , class: "form-control", size:5 %>
  </td>
  <td>
    <%= f.label :option_value %>
    <%= f.text_field :option_value , class: "form-control" %>
  </td>
<td><%= link_to_remove_association "Remove", f%></td><br/>
</tr>
<script>
$('input.option-check').on('change', function() {
    $('input.option-check').not(this).prop('checked', false);
});
</script>
