<%= render partial: "shared/header"%>
<div class="container">
  <h3>List Of Questions</h3>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Question Description</th>
      <th colspan="2">Action</th>
    </tr>
    <% @questions.each_with_index do |question,index| %>
      <tbody>
        <tr>
          <td><%= index + 1 %></td>
          <td width="950px"><%= raw(question.question_description) %></td>
          <td>
            <div class="test-action">  
              <%= link_to '', style: "color: black" do %>
                <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), question_path(question) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
                <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_question_path(question) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
                <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), question_path(question), method: :delete %>
                </div>  
              <% end %>
            </div>  
            </td>
          </tbody>  
        </tr>
    <% end %>
  </table>
  <div class="col-md-2">
    <%= link_to '+ Add a New Question', new_question_path, class: "btn btn-primary" %>
  </div>
  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>
