<%= render partial: "shared/header"%>
<div class="container">
	<%= form_for @collage do |f|%>
		<%= render "shared/error_messages", :target => @collage %>
		<h3><%= @collage.new_record? ? 'Add' : 'Edit' %> College</h3>
		<div class="row">
			<div class="col-md-1">
				<%= f.label :name%>
			</div>
			<div class="col-md-5">
			  <%= f.text_field :name, class: "form-control" %>
			</div>
		</div><br />
		<div class="row">
			<div class="col-md-6">
	  		<%= f.submit "Create College", class: "btn btn-primary" %>
	  		<%= link_to 'Back', :back, class: "btn btn-primary" %>
			<div>
	  	</div>
		</div>
	<% end %>
</div>
