<%= render partial: "shared/header"%>
<div class="container">
  <h3> List of Colleges</h3>
  <table class="table table-striped college-table">
    <thead>
      <tr>
        <th>College Name</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @collages.each do |collage| %>
        <tr>
          <td><%= collage.name %></td>
          <td>
            <div class="test-action">  
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), collage_path(collage) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"),edit_collage_path(collage) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), collage_path(collage), method: :delete %>
                </div>  
              <% end %>
            </div>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to '+ Add a New College', new_collage_path, class: "btn btn-primary" %>
</div>
