<head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<section class="vh-100 s-section">
    <div class="student-registration">
    <div class="container-fluid h-100 p-0">
      <div class="row no-gutters h-100">
        <div class="col-md-4">
          <img src="<%= asset_path('artboard.svg') %>" alt="Registration Image" class="img-fluid w-100 overlay-image" />
          <div class="main-div-background">
          <img src="<%= asset_path('div-background.png') %>" alt="Registration Image" class="img-fluid w-100 h-100 main-left-div-image" />
        </div>
        </div>
        <div class="form-group row space-between-fields">
          <div class="col-sm-5">
            <%= f.label :course, "Course", class: 'required-label custom-label' %>
            <%= f.text_field :course, class: "form-control custom-text-field", data: {parsley_required: true, parsley_error_message: "Please enter course"} %>
          </div>
          <div class="col-sm-1 vertical-line"></div>
          <div class="col-sm-5">
            <%= f.label :roll_number, 'enroll number', class: 'required-label custom-label' %>
            <%= f.text_field :roll_number, id: 'your-form-enroll-number', class: "form-control custom-text-field", data: { parsley_required: true, parsley_error_message: "Please enter enroll number"} %>
            <span class="error-message" id="enroll-number-error"></span>
          </div>
        </div>
        <div class="form-group row space-between-fields">
          <div class="col-sm-5">
            <%= f.label :collage_name, "College Name", class: 'required-label custom-label' %>
            <%= f.collection_select :collage_name, Collage.all, :name, :name, { include_blank: "Select College" }, { class: "form-control custom-text-field", data: { parsley_required: true, parsley_error_message: "Please select a college name" } } %>
            <span class="error-message" id="enroll-number-error"></span>
          </div>
          <div class="col-sm-1 vertical-line"></div>
          <div class="col-sm-5">
            <%= f.label :preferred_position, "Preferred Position", class: 'required-label custom-label' %>
            <%= f.collection_select :preferred_position_id, PreferredPosition.all, :id, :name, { include_blank: "Select Preferred Position" }, { class: "form-control custom-text-field", data: { parsley_required: true, parsley_error_message: "Please select a preferred position" } } %>
          </div>
        </div>
        <div class="form-group row space-between-fields">
          <div class="col-sm-12 caution-message">
            <h3 id="caution-message">Caution: Once the test is started, we are monitoring your browser activity, and you will be disqualified for the<br> test if we find any other tab open in the browser.</h3>
          </div>
        </div>
        <div class="form-group row space-between-fields centered-button">
          <div class="col-sm-12 text-center">
            <%= f.submit class: "btn  btn-custom", value: "Start Test" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
