<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    html, body {
    overflow-y: hidden;
  }

    .smaller-image {
      max-width: 100%;
      height: auto;
    }

    .main-content-wrapper {
      padding: 30px;
      margin-left: 240px; /* Added margin-left */
      width: 70%; /* Reduced width */
      height: 80vh; /* Increased height */
    }
    .custom-text-field{
      height: 40px;
      border-radius: 7px;
      font-size: 18px; 
    }
    .custom-text-field::placeholder {
    font-size: 16px;
    padding-left: 8px; /* Adjust the font size as needed */
  }
  #caution-message-main-form{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
  }
  .btn {
    width: 750px;
    background-color: #ed7c19;
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 18px;
  }
  .btn:hover {
    background-color: white;
    color: #000;
  }
  #registration-form-heading{
    font-weight: bold;
  }
  .custom-dropdown {
  font-size: 16px; /* Adjust the font size as needed */
}
.required-label{
  font-weight: none;
}
.img-fluid{
  margin-bottom: 65px;
}
.col-md-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.overlay-image{
  margin-bottom: 300px;
}

/* Adjust the z-index of the overlay image to make sure it's above the background image */
.col-md-4 .overlay-image {
  position: absolute;
  width: 100%;
  z-index: 2; /* Set a higher z-index to make it above the background image */
}

/* Adjust the z-index of the original image to make sure it's below the overlay image */
.col-md-4 .original-image {
  position: relative;
  z-index: 1;
}

/* Adjust the z-index of the original image to make sure it's below the overlay image */
.position-relative .original-image {
  position: relative;
  z-index: 1;
}
.image-logo{
  margin-bottom: 40px;
}
.overlay-image{
  margin-left: 300px;
  margin-top: 200px;
}
.main-left-div-image{
  background-color: rgba(1, 1, 1, 1);
}

/* Adjust the z-index of the image to make sure it's above the overlay */
.col-md-4 img {
  z-index: 2;
}

</style>
</head>
<body>
<section class="vh-100" style="background-color: #eee;">
  <div class="container-fluid h-100 p-0">
    <div class="row no-gutters h-100">
      <div class="col-md-4">
        <img src="<%= asset_path('artboard.svg') %>" alt="Registration Image" class="img-fluid w-100 overlay-image" />
        <img src="<%= asset_path('div-background.png') %>" alt="Registration Image" class="img-fluid w-100 h-100 main-left-div-image" />
      </div>
      <div class="col-md-8">
        <div class="card text-black" style=" height: 100%;">
          <div class="card-body p-md-5">
            <div class="main-content-wrapper">
                <img src="<%= asset_path('bacancy.svg') %>" alt="logo" class="image-logo mx-auto d-block" />
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" id="registration-form-heading">Student Registration Form</p>
              <%= form_for @student, :html => { class: 'form-horizontal', data: {parsley_validate: true}} do |f| %>
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :name, "Name", class: 'required-label custom-label' %>
                      <%= f.text_field :name, id: 'your-form-name', placeholder: "Enter your name",class: "form-control custom-text-field", data: {parsley_pattern: "^[A-Za-z ]+$", parsley_required: true, parsley_required_message: "Please enter name", parsley_pattern_message: "Only characters are allowed"} %>
                      <span class="error-message" id="name-error"></span>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :email, "Email", class: 'required-label custom-label' %>
                        <%= f.email_field :email, id: 'your-form-email', placeholder:"Enter your email", class: "form-control custom-text-field", data: {parsley_type: "email", parsley_required: true, parsley_required_message:"Please enter email", parsley_type_message: "Invalid email format", parsley_pattern: "/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,4}$/", parsley_pattern_message: "Invalid email format"} %>
                      <span class="error-message" id="email-error"></span>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :preferred_position_id, "Course", class: 'required-label custom-label' %>
                      <%= f.collection_select :preferred_position_id, PreferredPosition.all, :id, :name, { include_blank: "Select the course" }, { class: "form-control custom-text-field custom-dropdown", data: { parsley_required: true, parsley_error_message: "Please select a valid course" } } %>
                      <span class="error-message" id="name-error"></span>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :roll_number, "Enroll No.", class: 'required-label custom-label' %>
                      <%= f.text_field :roll_number, id: 'your-form-name', placeholder: "Enter your enroll no.",class: "form-control custom-text-field", data: { parsley_required: true, parsley_required_message: "Please enter enroll no"}%>
                      <span class="error-message" id="name-error"></span>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :collage_name, "College Name", class: 'required-label custom-label' %>
                      <%= f.text_field :collage_name, id: 'your-form-name', placeholder: "Enter your college name",class: "form-control custom-text-field", data: {parsley_required: true, parsley_required_message: "Please enter college name"} %>
                      <span class="error-message" id="name-error"></span>
                    </div>
                  </div>
                
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <h3 id="caution-message-main-form">CAUTION: Once the test is started, we are monitoring your browser activity, and you will disqualify for the test if we found any other tab open in the browser.</h3>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                    <%= f.submit class: "btn  btn-custom", value: "Let's Start The Test" %>
                    </div>
                  </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://parsleyjs.org/dist/parsley.min.js"></script>

<script>
  // Ensure Parsley.js is initialized on document ready
  $(document).ready(function () {
    $('form').parsley();
  });
</script>

</body>
</html>
