<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .vertical-line {
      border-left: 1px solid #000;
      height: 100%;
    }
    .required-label{
      margin-left: 8px;
      float: left;
    }
    .required-label::after {
      content: " *";
      color: red;
    }
    .custom-label {
      font-weight: bold;
      font-size: 18px; /* Increased font size */
    }
    .parsley-errors-list {
      color: red; /* Display error messages in red */
      font-size: 18px; 
      float: left;
      margin-top: 10px;/* Increase font size for error messages */
    }
     .parsley-error {
    background-color: #fff !important; /* Remove red background color */
  }
    .form-control {
      font-size: 18px; /* Increased font size */
    }
    .parsley-errors-list {
      color: red; /* Display error messages in red */
    }
    .space-between-fields {
      margin-bottom: 25px;
    }
    .caution-message {
      color: red;
      text-align: left;
      margin-top: 15px;
    }
    .centered-button {
      text-align: center;
    }
    .centered-button button {
      background-color: blue;
      width: 300px;
      height: 50px;
      font-size: 18px;
    }
    .btn{
      background-color: orange;
      width: 200px;
      border: 1px solid white;
      outline: auto;
      color: white;
    }
    .btn:hover{
      background-color: white;
      color: #000;
    }
  </style>
</head>

<body>
  <div class="container text-center mt-5">
    <div class="jumbotron" style="border: 1px solid #000;">
      <img src="<%= asset_path('logo-dark.png') %>" alt="Registration Image" class="img-fluid" />
      <h2 style="font-weight: bold; margin-top: 20px">Student Registration Form</h2>
      <hr>
      <div class="row extra-padding">
        <%= form_for @student, :html => {class: 'form-horizontal', data: {parsley_validate: true}} do |f| %>
          <%= render "shared/error_messages", :target => @student %>
          <div class="form-group row space-between-fields">
            <div class="col-sm-6">
              <%= f.label :name, "Name", class: 'required-label custom-label' %>
              <%= f.text_field :name, class: "form-control", data: {parsley_pattern: "^[A-Za-z ]+$", parsley_required: true, parsley_error_message: "Only characters are allowed (no digits and special characters)"} %>
            </div>
            <div class="col-sm-1 vertical-line"></div>
            <div class="col-sm-5">
              <%= f.label :email, "Email", class: 'required-label custom-label' %>
              <%= f.email_field :email, class: "form-control", data: {parsley_type: "email", parsley_required: true, parsley_error_message: "Please enter a valid email address"} %>
            </div>
          </div>
          <div class="form-group row space-between-fields">
            <div class="col-sm-6">
              <%= f.label :course, "Course", class: 'required-label custom-label' %>
              <%= f.text_field :course, class: "form-control", data: {parsley_required: true} %>
            </div>
            <div class="col-sm-1 vertical-line"></div>
            <div class="col-sm-5">
              <%= f.label :roll_number, 'EnRoll Number', class: 'required-label custom-label' %>
              <%= f.text_field :roll_number, class: "form-control", data: {parsley_pattern: "^[0-9]+$", parsley_required: true, parsley_error_message: "Must be digits only"} %>
            </div>
          </div>
          <div class="form-group row space-between-fields">
            <div class="col-sm-6">
              <%= f.label :collage_name, "College Name", class: 'required-label custom-label' %>
              <%= f.select :collage_name, ['Select College', 'Vishwakarma Government Engineering College', 'LJ Institute', 'Sigma', 'Ld Engineering', 'LDRP'], {data: {parsley_required: true},},parsley_error_message: "Please enter a valid email address", class: "form-control" %>
            </div>
            <div class="col-sm-1 vertical-line"></div>
            <div class="col-sm-5">
              <%= f.label :location, "Location", class: 'required-label custom-label' %>
              <%= f.select :location, ['Select Location', 'New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'], {data: {parsley_required: true}}, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row space-between-fields">
            <div class="col-sm-6">
              <%= f.label :preferred_location, "Select a location", class: 'required-label custom-label' %>
              <%= f.select :location, ['Select Preferred Location', 'Ahmedabad', 'Surat', 'Bharuch', 'Vapi'], {data: {parsley_required: true}}, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row space-between-fields">
            <div class="col-sm-12 caution-message">
              <h3>Caution: Once the test is started, we are monitoring your browser activity, and you will be disqualified for the test if we find any other tab open in the browser.</h3>
            </div>
          </div>
          <div class="form-group row space-between-fields centered-button">
            <div class="col-sm-12 text-center"> <!-- Adjust the width of the column as needed -->
              <%= f.submit class: "btn btn-lg", value: "Start Test" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
</body>

</html>
