  <style type="text/css">
   html, body {
     height: 93%;
   }
   .container{
     width: 1025px;
   }
   .vertical-center {
     height: 100%;
     width: 100%;
     text-align: center;  /* align the inline(-block) elements horizontally */
     font: 0/0 a;         /* remove the gap between inline(-block) elements */
   }
   .vertical-center:before {    /* create a full-height inline block pseudo=element */
     content: ' ';
     display: inline-block;
     vertical-align: middle;  /* vertical alignment of the inline element */
     height: 100%;
   }
   .vertical-center > .container {
     max-width: 100%;
     background-color: #eeeeee;
     display: inline-block;
     vertical-align: middle;  /* vertical alignment of the inline element */
     font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
   }
   @media (max-width: 768px) {
     .vertical-center:before {
       /* height: auto; */
       display: none;
     }
   }

   .jumbotron{ background-color: transparent !important;}
   .extra-pedding{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .container{
      border:1px solid black;
    }
 </style>

</head>
<body>
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <h1>Student Registration Form</h1>
      <div class="row extra-pedding">
        <%= form_for @student, :html => {class: 'form-horizontal'} do |f| %>
          <%= render "shared/error_messages", :target => @student %>
          <div class="form-group">
            <%= f.label :Name, class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Email, class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Course, class: 'control-label col-sm-4' %>
            <div class="col-sm-6 offset-lg-2">
              <%= f.text_field :course, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :roll_number, 'EnRoll Number', class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%= f.text_field :roll_number, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Collage_Name, 'College Name',class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%#= f.collection_select :collage_name, Collage.all, :name, :name, { include_blank: 'Select a Collage' }, class: 'form-control' %>
              <%= f.text_field :collage_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :location, 'Location', class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%= f.text_field :location, class: "form-control" %>
            </div>
          </div>
          <%# <div class="form-group"> %>
            <%#= f.label :url, 'URL', class: 'control-label col-sm-4' %>
            <%# <div class="col-sm-6"> %>
              <%#= f.text_field :url, class: "form-control", required: true %>
            <%# </div> %>
          <%# </div> %>
          <div class="form-group">
            <%= f.label :preferred_position, 'Preferred Position', class: 'control-label col-sm-4' %>
            <div class="col-sm-6">
              <%= f.select :preferred_position_id, options_for_select(PreferredPosition.pluck(:name, :id)), { include_blank: 'Select Preferred Position' }, class: 'form-control' %>
            </div>
            <br/><br/>
            <h3 style="color:firebrick"> Caution: once the test is started, we are monitoring your browser activity, and you will disqualify for the test if we found any other tab open in the browser. </h3>
          </div>
          <%= f.submit class: "btn btn-success", value: "Start Test" %>
        <% end %>
     </div>
   </div>
</div>
