<%= render partial: "shared/header"%>
<div class="container">
<h3> Details Students</h3>
<table class="table table-striped">
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> Course </th>
    <th> EnRoll Number </th>
    <th> College Name </th>
    <th> Preferred Position </th>
    <th width="130"> Action</th>
  </tr>
  <% @students.each do |student|%>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.course %></td>
      <td><%= student.roll_number %></td>
      <td><%= student.collage_name %></td>
      <td><%= student.preferred_position&.name %></td>
      <td><%= link_to 'Show',student_path(student) %> |
        <%#= link_to 'Edit', edit_student_path(student) %>
        <%= link_to 'Delete', student_path(student), method: :delete, data: {confirm: 'Are You Sure You Want To Delete?'} %></td>
    </tr>
  <% end %>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>  
