<%= render partial: "shared/header"%>
<div class="students-container">
<h3> Details Students</h3>
<table class="table table-striped">
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> Course </th>
    <th> EnRoll Number </th>
    <th> College Name </th>
    <th> Preferred Position </th>
    <th colspan=2> Action</th>
  </tr>
  <% @students.each do |student|%>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.course %></td>
      <td><%= student.roll_number %></td>
      <td><%= student.collage_name %></td>
      <td><%= student.preferred_position&.name %></td>
      <td>
        <%= link_to '', style: "color: black" do %>
          <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), student_path(student) %>
        <% end %>
      </td>
      <td>
        <%= link_to '', style: "color: black" do %>
          <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), student_path(student), method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>  
