<div class="container">
  <h1>Students#show</h1>
  <p>Name: <%= @student.name %></p>
  <p>Email: <%= @student.email %></p>
  <p>Course: <%= @student.course %></p>
  <p>Roll Number: <%= @student.roll_number %></p>
  <p>Collage Name: <%= @student.collage_name %></p>
  <p>Mobile Number: <%= @student.mobile_number %></p>
  <%= link_to 'Back', :back, class: "btn btn-primary"%>
</div>
