<%= render partial: "shared/header"%>
<div class="container">
  <h3> Student Detail </h3>

  <div class="row">
		<label class="col-md-2"> Name : </label>
		<div class="col-md-4">
			<p> <%= @student.name %></p>
		</div>
	</div>

	<div class="row">
		<label class="col-md-2"> Email : </label>
		<div class="col-md-4">
			<p><%= @student.email %></p>
		</div>
	</div>

	<div class="row">
		<label class="col-md-2"> Course : </label>
		<div class="col-md-4">
			<p><%= @student.course %></p>
		</div>
	</div>

	<div class="row">
		<label class="col-md-2"> Roll Number : </label>
		<div class="col-md-4">
			<p><%= @student.roll_number %></p>
		</div>
	</div>

	<div class="row">
		<label class="col-md-2"> College Name : </label>
		<div class="col-md-4">
			<p><%= @student.collage_name %></p>
		</div>
	</div>

  <%= link_to 'Back', :back, class: "btn btn-primary"%>
</div>
