<%= render partial: "shared/header"%>
<div class="container">
  <h3>List Of Preferred Positions</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Technical</th>
        <th>Non Technical</th>
        <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @preferred_positions.each do |preferred_position| %>
      <tr>
        <td><%= preferred_position.name %></td>
        <td><%= preferred_position.tech %></td>
          <td><%= preferred_position.non_tech %></td>
        <td>
          <div class="test-action">  
            <%= link_to '', style: "color: black" do %>
              <div class="cross">
                <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), preferred_position_path(preferred_position) %>
              </div>  
            <% end %>
            <%= link_to '', style: "color: black" do %>
              <div class="cross">
                <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_preferred_position_path(preferred_position) %>
              </div>  
            <% end %>
            <%= link_to '', style: "color: black" do %>
              <div class="cross">
                <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), preferred_position_path(preferred_position), method: :delete %>
              </div>  
            <% end %>
          </div>  
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <div class="col-md-2 preferred-btn">
    <%= link_to 'New Preferred Position', new_preferred_position_path, class: "btn btn-primary" %>
  </div>
</div>
