<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.roles_name.join(" ,")%></td>
	<td>
  	<%= link_to '', style: "color: black" do %>
    	<div class="cross">
      	<%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_user_path(user) %>
    	</div>
  	<% end %>
	</td>	
	<td>
  	<%= link_to '', style: "color: black" do %>
    	<div class="cross">
      	<%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), user_path(user), method: :delete %>
    	</div>
  	<% end %>	
	</td>
</tr>
