<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.roles_name.join(" ,")%></td>
	<td>
		<div class="action-main">
			<%= link_to '', style: "color: black" do %>
				<div class="cross user-action">
					<%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_user_path(user) %>
				</div>
			<% end %>
			<%= link_to '', style: "color: black" do %>
				<div class="cross">
					<%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), user_path(user), method: :delete %>
				</div>
			<% end %>
		</div>		
	</td>
</tr>
