<%= render partial: "shared/header"%>
<%
  if @technical_question.new_record?
    url = technical_questions_path
  else
    url = technical_question_path
  end
%>
<div class="container content-center">
  <%= form_for @technical_question, :url => url  do |f| %>
  <%= render "shared/error_messages", :target => @technical_question %>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-left">Question</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-lg-2">
        <%= f.label :question_description %>
        <%= f.cktext_area :question_description, class: "form-control", placeholder: 'Enter Question Discription' %>
      </div>
    </div>
    <div class="rows col-sm-offset-1 mr-top">
      <%= f.button  @technical_question.new_record? ? 'Save' : 'Update' , class: "btn btn-primary", type: 'submit' %>
      <%= link_to 'Back', :back, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<style type="text/css">
  .mr-top{margin-top: 2%;}
</style>
