<%= render partial: "shared/header"%>
<div class="container">
  <h3>List Of Questions</h3>
  <table class="table table-striped" style="width:70% !important;">
    <thead>
      <tr>
      	<th>ID</th>
        <th>Question Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @technical_questions.each_with_index do |question,index| %>
        <tr>
        	<td><%= index + 1 %></td>
          <td width="200px"><%= raw(question.question_description) %></td>
          <td>
            <div class="test-action">  
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), technical_question_path(question) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"),edit_technical_question_path(question) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), technical_question_path(question), method: :delete %>
                </div>  
              <% end %>
            </div>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-2">
    <%= link_to '+ Add a New Technical Question', new_technical_question_path, class: "btn btn-primary" %>
  </div>
        <%= link_to 'Back', root_path, class: 'btn btn-secondary mt-2 p' %>

</div>
