<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/"><%= image_tag 'logo-dark.png'%></a>
      <li class="active"><%= link_to 'Home', root_path%></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Add', new_test_path%></li>
          <li><%= link_to 'List', tests_path%></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Questions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Add', new_question_path%></li>
          <li><%= link_to 'List', questions_path%></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Technical Questions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Add', new_technical_question_path%></li>
          <li><%= link_to 'List', technical_questions_path%></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Collages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Add', new_collage_path%></li>
          <li><%= link_to 'List', collages_path%></li>
        </ul>
      </li>

      <li><%= link_to 'Results', results_path%></li>
      </li>
      <li><%= link_to 'Students', students_path%></li>
    </ul>
  </div>
</nav>
<style type="text/css">
  img{ margin-top: -11px;}
</style>
