<%= render partial: "shared/header"%>
<div class="container">
  <h3> Student Result </h3>
<%= form_tag  results_path , :method => 'get' do %>
  <%= label_tag :Search%>
  <%= text_field_tag :search, params[:search], options = {style:"width:200px"} %>
  <%= select_tag :collage_name, options_for_select(Student.pluck(:collage_name).uniq, params[:collage_name]), :prompt => "Select Collage Name" %>
  <%= submit_tag("search", :style => "width:100px;") %>
<%end%>
<div class="float-right">
  <%= link_to "Export CSV", results_path(format: 'csv', search: params[:search], collage_name: params[:collage_name]), class: 'export_csv' %>
</div>
<table class="table table-striped">
  <tr>
    <th> Student Name </th>
    <th> Student Email </th>
    <th> Course </th>
    <th> Collage Name </th>
    <th> Mobile Number </th>
    <th> Total Questions </th>
    <th> Attempted Questions </th>
    <th> Correct Answer </th>
    <th colspan="2">Action </th>
  </tr>
  <% @results && @results.each do |result| %>
    <tr>
      <td><%= result.student.name %></td>
      <td><%= result.student.email %></td>
      <td><%= result.student.course %></td>
      <td><%= result.student.collage_name %></td>
      <td><%= result.student.mobile_number %></td>
      <td><%= result.total_questions %></td>
      <td><%= result.attempted_questions %></td>
      <td><%= result.correct_answer %></td>
      <td><%= link_to 'Show', result_path(result) %></td>
      <td><%= link_to 'Delete', result_path(result), method: :delete, data: {confirm: 'Are You Sure You Want To Delete???'}%></td>
    </tr>
  <% end %>
</table>
</div>
<style type="text/css">
  .export_csv{margin-left: 93%;}
</style>
