<%= render partial: "shared/header"%>
<div class="result-container">
  <div class="result-section">
    <h3> Student Result </h3>
    <%= button_to "Export CSV", export_csv_results_path(format: 'csv', search: params[:search], roll_number: params[:roll_number]), class: 'btn btn-primary export_csv', method: :post %>
  </div>
  <hr/>
  <div class="form-continer">  
    <%= form_tag  results_path ,  class: 'searchBar' , method: :get, remote: true do %>
      <%= select_tag :collage_name, options_for_select(Student.pluck(:collage_name).uniq, params[:collage_name]), :prompt => "Select College Name",style: "padding:10px" %>
      <%= text_field_tag :search, params[:search], placeholder: "Find by Enr. No, Student Name, Student Email", style: "width:400px; padding:8px" %>
      <%= submit_tag("search",class: "btn btn-primary search-btn") %>
    <%end%>
  </div>
  <div class='all-results'>
    <%= render 'results', results: @results  %>
  </div>
</div>

<div class="modal" style="display:none;">
</div>

<script>
  document.querySelector('.search-btn').addEventListener('click', function() {
    var searchValue = document.getElementById('search').value;
    var url;
    if (searchValue === '') {
      url = window.location.origin + window.location.pathname;
    } else {
      url = window.location.origin + window.location.pathname + '?search=' + encodeURIComponent(searchValue);
    }
    window.location.replace(url);
  });
</script>

<%
=begin%>
 <script >
$(document).ready(function(){

  $('.search-btn').onClick(function(){
    console.log('fgdsufsf')
  var searchValue = $('#search').val();
  var url;
  debugger
  if (searchValue= ''){
    url = window.location.origin + window.location.pathname
  }else{
    // url = window.location.origin + window.location.pathname + '?' 'search'=${searchValue}
  }
  window.location.replace(url)
});
    })
</script> 
<%
=end
%>