<%= render partial: "shared/header"%>
<div class="result-container">
  <div class="result-section">
    <h3> Student Result </h3>
    <button class="btn btn-primary export_csv">Export CSV</button>
  </div>
  <hr/>
  <%= form_tag  results_path ,  class: 'searchBar' , method: :get, remote: true do %>
    <%= select_tag :collage_name, options_for_select(Student.pluck(:collage_name).uniq, params[:collage_name]), :prompt => "Select College Name",style: "padding:10px" %>
    <%= text_field_tag :search, params[:search], placeholder: "Find by Enr. No, Student Name, Student Email", style: "width:400px; padding:8px" %>
    <%= submit_tag("search",class: "btn btn-primary search-btn") %>
  <%end%>
  <div class='all-results'>
    <%= render 'results', results: @results  %>
  </div>
</div>

<div class="modal" style="display:none;">
</div>

<script>
  $(document).ready(function() {
    $('.export_csv').click(function() {
        var searchValue = $('#search').val();
        var dropdownValue = $('#collage_name').val();
        $.ajax({
          url: '/results/export_csv.csv',
          method: 'POST',
          data: { searchValue: searchValue, dropdownValue: dropdownValue},
          success: function (response) {
            blob = new Blob([response])
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            // the filename you want
            a.download = 'result.csv';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          },
          error: function (error) {
            console.error('Error:', error);
          }
        });
    })
  })
</script>
