<%= render partial: "shared/header"%>
<div class="container">
	<h3> Student Result </h3>

		<div class="row">
			<label class="col-md-2 ">Student Name : </label>
			<div class="col-md-4">
				<p><%= @result.student.name %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">Student Email : </label>
			<div class="col-md-4">
				<p><%= @result.student.email %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">Course : </label>
			<div class="col-md-4">
				<p><%= @result.student.course %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">Collage Name : </label>
			<div class="col-md-4">
				<p><%= @result.student.collage_name %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">Total Questions :</label>
			<div class="col-md-4">
			 <p> <%= @result.total_questions %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2"> Attempted Questions : </label>
			<div class="col-md-4">
				<p><%= @result.attempted_questions %></p>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">Currect Answer : </label>
			<div class="col-md-4">
				<p><%= @result.correct_answer %></p>
			</div>
		</div>

	<%= link_to 'back', :back, class: "btn btn-primary" %>
</div>
