<h1>Results#show</h1>
<p>Student Name: <%= @result.student.name %></p>
<p>Student Email: <%= @result.student.email %></p>
<p>Course : <%= @result.student.course %></p>
<p>Collage Name: <%= @result.student.collage_name %></p>
<p>Moble Number: <%= @result.student.mobile_number %></p>
<p>Total Questions: <%= @result.total_questions %></p>
<p>Attempted Questions: <%= @result.attempted_questions %></p>
<p>Currect Answer: <%= @result.correct_answer %></p>

<%= link_to 'back', :back %>
