<%= render partial: "shared/header"%>
<div class="container">
  <%= form_tag questions_test_path, method: :patch do %>
    <%= hidden_field_tag "id", @test.id %>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-left">Update Questions in <%= @test.name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-12 form-group">
          <%= label_tag :Questions %>
          <%= collection_check_boxes :test, :question_ids, @questions, :id, :question_description do |b| %>
            <div class="rows">
              <div class="col-sm-3 col-md-1">
                <%= b.check_box %>
              </div>
              <div class="col-sm-3 col-md-11">
                <pre><%= b.label %></pre>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <%= submit_tag "create", 'data-disable-with' => "Please wait..", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
