<%= render partial: "shared/header_logout"%>
<div id="countdowntimer"><span id="future_date"><span></div>
<div id='warning_text'></div>
 <%#= countdown Time.now + 28.hours %>
<div class="container">
  <%= form_for @student_answer do |f| %>
    <%= render "shared/error_messages", :target => @student_answer %>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-left">Start Your Test</h3></br>
      </div>
    </div>
    <div class="rows">
      <label>Please Fill Up The Following Questions :</label></br></br>
    </div>
    <% @student.test.questions.each_with_index do |question, index| %>
      <b>
        <%= index+1 %>.
        <%= question.question_description %></b></br></br>
        <div class="col-md-12">
          <% question.options.each do |option|%>
            <%= radio_button("response_item", question.id, option.id)  %>
            <%= option.option%>.
            <%= option.option_value %><br/></br>
          <% end %>
        </div>
    <% end %>
    <% if @student.test_started == false %>
      <div class="col-md-12">
        <%= f.submit 'Submit' , class: "btn btn-primary", type: 'submit', id: 'submit'%>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  $( document ).ready(function() {
    var hours = <%= @student.test.total_time.split(":").first %>
    var minutes = <%= @student.test.total_time.split(":").last %>
    if(<%= @student.test_started %> == false){
      console.log('not started')
      $("#future_date").countdowntimer({
        hours : hours,
        minutes : minutes,
        size : "lg",
        timeUp : timeIsUp
      });
      $.ajax({
        url: "/students/" + <%= @student.id %>,
      method: 'put',
      data: {
        student: {
          test_started: true
        }
      },
      type: 'script'
    });
    }
    function timeIsUp() {
      //Code to be executed when timer expires.
      $("#submit").trigger('click');
    }

  });
</script>
