<%= render partial: "shared/header"%>
<div class="container">
  <h3 class="test-title-color"> List of Technical Tests</h3>
  <table class="table table-striped test-table">
    <tr>
      <th>Test Name</th>
      <th>Test Total Time</th>
      <th>Action</th>
    </tr>
    <% @tests.each do |test| %>
      <% if test.is_technical %>
        <tr>
          <td><%= test.name %></td>
          <td><%= test.total_time %></td>
          <td>
            <div class="test-action">  
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), test_path(test) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_test_path(test) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), test_path(test), method: :delete %>
                </div>  
              <% end %>
            </div>  
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br/>
  <hr/>
   <h3 class="test-title-color"> List of Aptitude Tests</h3>
  <table class="table table-striped test-table">
    <tr>
      <th>Test Name</th>
      <th>Test Total Time</th>
      <th>Action</th>
    </tr>
    <% @tests.each do |test| %>
      <% if !test.is_technical %>
        <tr>
          <td><%= test.name %></td>
          <td><%= test.total_time %></td>
          <td>
            <div class="test-action">  
              <%= link_to '', style: "color: black" do %>
				        <div class="cross" style="margin-top: 2px;">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-eye', style: "color: black"), test_path(test) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross" style="margin-top: 2px;">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-edit', style: "color: black"), edit_test_path(test) %>
                </div>  
              <% end %>
              <%= link_to '', style: "color: black" do %>
				        <div class="cross" style="margin-top: 2px;">
                  <%= link_to content_tag(:i, nil, class: 'fa fa-trash', style: "color: black"), test_path(test), method: :delete %>
                </div>  
              <% end %>
            </div>  
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
    <%= link_to '+ Add a New Test', new_test_path, class: "btn btn-primary" %>
</div>
