<%= render partial: "shared/header"%>
<div class="container">
	<h3>Details of Test</h3>
	<p>Name: <%= @test.name %></p>
	<p>Total Time: <%= @test.total_time %></p>
	<div class="row">
		<div class="col-md-10">
			<h3>Test Questions</h3>
		</div>
		<div class="col-md-2">
			<h3><%= link_to 'Add/Remove Questions', edit_questions_test_path(@test), class: 'btn btn-primary'  %></h3>
		</div>
	</div>
	<% @test.questions.each_with_index do |question, index| %>
	  <p><%= index + 1 %>.<%= raw(question.question_description) %></p>
		<% question.options.each do |option| %>
		<% if option.is_answer==true %>
			<p class="col-lg-1 col-md-1 col-sm-1"><b><%= option.option %></p></b>
			<p><b><%= option.option_value %></b></p>
		<% else %>
			<p class="col-lg-1 col-md-1 col-sm-1"><%= option.option %></p>
			<p><%= option.option_value %></p>
		<% end %>
		<% end %>
	<% end %>
	<%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>
