<%= render partial: "shared/header"%>
<div class="container">
	<h3><b><u>Details of Test</u></b></h3>
	<p>Name: <%= @test.name %></p>
	<p>Total Time: <%= @test.total_time %></p>
	<div class="row">
		<div class="col-md-10">
			<h3>Test Questions</h3>
		</div>
		<div class="col-md-2">
			<h3><%= link_to 'Add/Remove Questions', edit_questions_test_path(@test), class: 'btn btn-primary'  %></h3>
		</div>
	</div>
	<br/>
	<% @test.questions.each_with_index do |question, index| %>
	<div class="container">
		<div class="panel panel-default">
			 <div class="panel-body">
			  <p><%= index + 1 %>.<%= raw(question.question_description) %></p>
				<% question.options.each do |option| %>
					<% if option.is_answer==true %>
						<p class="col-lg-1 col-md-1 col-sm-1"><b><%= option.option %></b></p>
						<p><b><%= option.option_value %></b></p>
					<% else %>
						<p class="col-lg-1 col-md-1 col-sm-1"><%= option.option %></p>
						<p><%= option.option_value %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<br/>
	<% end %>
	<%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>