<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>BacancyApptitudeTest</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <% if key == "final_submit" %>
        <script>
          alert("<%= j value %>");
        </script>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
